/** For use without all.css **/

.folder-items li {
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
  padding: 24px 20px 18px 0;
}

.folder-items li:nth-child(even) {
  background: #fafafa;
}

.folder-action.btn {
  background-color: #4c97d9;
  float: right;
  margin: 0 0 0 10px;
  background-image: none;
  padding: 0 17px 0 17px;
  font: normal 14px/38px arial, helvetica, sans-serif;
}