{% extends "inner.html" %}
{% load i18n %}
{% load common_tags %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block extra_js %}
  <script src="{% static 'js/kendo.web.min.js' %}"></script>
  <script src="{% static 'js/account.js' %}"></script>
  <script src="{% static 'js/documents.js' %}"></script>
  <script src="{% static 'js/logo.js' %}"></script>
  <script type="text/javascript">
      var DOC_DELETE_URL = "{% url 'accounts:remove-logo' %}"
  </script>
  <script type="text/javascript">
      var ACC_CANCEL_URL = "{% url 'accounts:cancel' %}";
      var ACC_BILLING_CYCLE_URL = "{% url 'billing:change_cycle' %}";
  </script>
{% endblock extra_js %}

{% block extra_css %}
  {{ super }}
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block workspace %}
  <header class="heading">
    <a class="btn" href="{% url 'billing:update_settings' %}">{% trans "Edit Account" %}</a>
    <h2>{% trans "Board Settings" %}</h2>
  </header>
  <div class="bar">
      <dl>
          <dt>{% trans "Name of Board" %}:</dt>
          <dd>{{ account.name }}</dd>
          <dt>{% trans "Login URL" %}:</dt>
          <dd><a href="{% acc_url 'board_detail' %}">{{ site }}{{ account.url }}</a></dd>
          
          <dt>
              {% if account.logo %}{% trans "Logotype" %}:{% else %}{% trans 'ADD YOUR LOGO' %}:{% endif %}
          </dt>
          <dd>
            <form action="{% url 'accounts:logo' %}" method="POST" class="createmeeting-form create-document-form" id="logo-form">
              {% csrf_token %}
              <ul class="archives">
                <li>
                  <div class="items">
                    {% if account.logo %}
                    {% thumbnail account.logo "250x200" as th %}
                      <div class="logo-preview"><img src="{{th.url}}" width="{{th.x}}"></div>
                    {% endthumbnail %}
                      <div class='edit-block'>
                        <a class="delete" href="#">{% trans 'Delete' %}</a>
                        <input type="file" name="logo" id="id_logo"/>
                      </div>
                    {% else %}
                      <div class="logo-preview" style="display: none">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                      </div>
                      <div class='edit-block'>
                        <input type="file" name="logo" id="id_logo"/>
                      </div>
                    {% endif %}
                  </div>
                </li>
              </ul>
            </form>
          </dd>
        </dl>
  </div>

  <div class="bar settings-section no_padding">
    <h3>Security</h3>
      <form method="post" id="send-settings-form" action="{% url 'accounts:save-settings' %}">{% csrf_token %}
        <dl>
        
        <dt>{% trans "Do NOT send ANY email notifications on this board" %}</dt>
        <dd>
          <label for="send_notification">
            <input type="checkbox" name="send_notification" id="id_send_notification" {% if not account.send_notification %} checked {% endif %}>
          </label>
        </dd>
        <dd class='help_text'>Board Members will not receive any emails.</dd>

        <dt>{% trans "Send automatic invitations to new members or from meetings or events" %}</dt>
        <dd>
          <label for="send_invitations">
            <input type="checkbox" name="send_invitations" id="id_send_invitations" {% if account.send_invitations %} checked {% endif %}>
          </label>
        </dd>
        <dd class='help_text'>Board Members will not receive any automatic emails from meetings or events.</dd>

        <dt>{% trans "Display members' emails" %}</dt>
        <dd>
          <label for="view_email">
            <input type="checkbox" name="view_email" id="id_view_email" {% if account.view_email %} checked {% endif %}>
          </label>
        </dd>
        
        <dt>{% trans "Default meetings location" %}:</dt>
        <dd>
          <input type="text" size="60" name="default_meetings_location" value="{{ account.default_meetings_location|default:'' }}">
          <!-- <input type='button' id='saveform' value='save'> -->
        </dd>

        <dt>{% trans "Enforce Two-factor Authentication" %}</dt>
        <dd>
          <label for="enforce_2fa">
            <input type="checkbox" name="enforce_2fa" id="id_enforce_2fa" {% if account.enforce_2fa %}checked{% endif %} >
          </label>
        </dd>
        <dd class='help_text'>Two-factor Authentication (2FA) adds a layer of security to protect documents and data stored by users. 
          A SMS is sent to a user's phone after login to make sure account access is protected.</dd>

        <dt>{% trans "Enable Social Logins" %}</dt>
        <dd>
          <label for="enable_social_logins">
            <input type="checkbox" name="enable_social_logins" id="id_enable_social_logins" {% if account.enable_social_logins %}checked{% endif %} >
          </label>
        </dd>
        <dd class='help_text'>Board Director offers several social login options (i.e. Google, Twitter, and Facebook), which allow users to create or authenticate with a Board Director account connected to these services.
            Once you've authenticated your social login with a Board Director account, you'll be able to use that social login to log into Board Director with one click in the future.</dd>
       </dl>
       <p class='fields'>
          <button id='saveform' class='btn btn-asize btn-disabled'>Save changes</button>
          <!-- <button type='reset' value='reset' class='btn btn-asize btn-grey'>reset</button> -->
        </p>
      </form>
  </div>

  <div class="settings-section">
    <h3>{% trans "Billing and Invoices" %}</h3>
    <ul class="list">
      <li>
        <h4>{% trans "Current plan" %}: {{ account.plan.get_name_display }} {% trans "package with up to" %} {{ account.get_max_members }} {% trans "users and" %} {{ account.get_max_storage }} GB {% trans "storage" %}</h4>
        <p>{% trans "Your next charge is $" %}{{ account.get_next_pay_charge }} {% trans "on" %} {{ account.get_next_pay_date|date:"N j, Y" }}.

          <a href="{% url 'billing:change_plan' %}">{% trans "See plans and upgrade or downgrade" %}</a>
      </li>
      <li>
        <h4>{% trans "Credit Card" %}</h4>
        {% if account.has_card_number %}
          <p>{% trans "Your credit card on file is" %} {{ account.get_last_numbers_card }}</p>
          <a href="{% url 'billing:update_settings' %}">{% trans "Change your credit card and billing information" %}</a>
        {% else %}
          <a href="{% url 'billing:update_settings' %}">{% trans 'Fill in your credit card and billing information' %}</a>
        {% endif %}

      </li>
      {% if account.billing_settings.cycle == account.billing_settings.MONTH %}
        <li>
          <h4>{% trans "Prefer to pay yearly?" %}</h4>
          <p>{% trans "We currently bill your credit card" %} {{ account.billing_settings.get_cycle_display }}. {% trans "If you'd prefer to simplify your billing you can pay once yearly" %}.</p>
          <a href="" id="yearly_payment">{% trans "Make a yearly payment" %}</a>
        </li>
      {% endif %}
      <li>
        <h4>{% trans "Invoice" %}</h4>
        <p>{% trans "Each time you are billed, an invoice is emailed to" %} <strong>{{ account.billing_settings.mail }}</strong></p>
        <p>{% trans "You can customize your invoices with your company's address and any other billing notes" %}.</p>
        <a href="{% url 'billing:update_settings' %}">{% trans "Change invoice details" %}</a>
      </li>
    </ul>
  </div>
  <div class="settings-section">
    <h3>{% trans "Need to cancel?" %}</h3>
    <ul class="list">
      <li>
        <p>{% trans "We&rsquo;ll be sorry to see you go! You won't be charged again once you've canceled" %}. </p>
        <p>{% trans "All of your data will be permanently deleted after 30 days" %}.</p>
        <a href="" id="cancel_account">{% trans "Cancel your account" %}</a>
      </li>
    </ul>
  </div>

  <script id="delete-account-confirmation" type="text/x-kendo-template">
    <p class="delete-message">{% trans 'Are you sure you want to cancel your account' %}?</p>
    <div class="confirmation-buttons">
      <button class="delete-confirm k-button">{% trans 'Yes' %}</button>
      <button class="delete-cancel k-button">{% trans 'No' %}</button>
    </div>
  </script>
  
  <script id="delete-confirmation" type="text/x-kendo-template">
    <p class="delete-message">{% trans 'Are you sure you want to delete your logotype image?' %}?</p>
    <div class="confirmation-buttons">
      <button class="delete-confirm k-button">{% trans 'Yes' %}</button>
      <button class="delete-cancel k-button">{% trans 'No' %}</button>
    </div>
  </script>

{% endblock workspace %}
