.logo-preview {
    float: left;
}

.logo-preview img {
    max-height: 200px;
    max-width: 250px;
    display: inline-block;
}

.logo-preview + .edit-block {
    padding-left: 10px;
    margin-left: 10px;
    float: left;
}

#content .archives .items .edit-block .delete {
    margin-bottom: 1em;
}

.bar dd {
    vertical-align: top;
}
