.create-channel-form .fields-list li, .edit-channel-form .fields-list li, .edit-message-form .fields-list li {
    display: block;
    width: 100%;
    float: none;
}

.selectize-dropdown{
    z-index: 10010 !important;
}

a.editChannelInfo {
    color: #888787;
    font-size: 10px;
}

.discussion-content-wrapper #aside, .discussion-content-wrapper #brand {
    width: 80px;
}
.discussion-content-wrapper #aside .name-menu, .discussion-content-wrapper #header .name-menu{
    display:none;
}
#content.discussion-content:after {
    width: auto;
}
#content.discussion-content {
    border-left: 80px solid #363636;
    padding: 0;
    background: #fff;
    position: relative;
    font-size: 14px;
    line-height: 16px;

  display: flex;
  overflow: auto;
}
#discussion-left {
    flex: 1;
    background-color: #c0c0c024;
}
#discussion-left #discussion-left-search {
    padding: 17px 10px;
    border-bottom: 1px solid #eee;
}
#discussion-left #discussion-left-search input {
    width: 100%;
    background: transparent;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    padding: 5px;
    height: 30px;
}
#discussion-left #discussion-left-list .discussion-left-list-item {
    margin-top: 20px;
    margin-left: 10px;
}
#discussion-left #discussion-left-list .discussion-left-list-item .discussion-left-list-item-name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
#discussion-left #discussion-left-list .discussion-left-list-item .discussion-left-list-item-name .discussion_channel_plus {
    margin-right: 20px;
    background-color: #e5e5e5;
    padding: 3px 4px 1px 4px;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    cursor: pointer;
}
#discussion-left #discussion-left-list .discussion-left-list-item .discussion-left-list-item-discussion {
    padding-left: 15px;
    margin-top: 5px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
}
#discussion-left #discussion-left-list .discussion-left-list-item .discussion-left-list-item-discussion.active {
    border: 1px solid #eee;
    margin-right: 18px;
    padding: 4px 0 4px 15px;
    background-color: white;
    color: #0088c6;
}
#discussion-left #discussion-left-list .discussion-left-list-item .discussion-left-list-item-discussion .photo {
    height: 18px;
    width: 20px;
    margin-right: 5px;
    float: left;
    border-radius: 50%;
    background-size: 20px 18px;
}
#discussion-left #discussion-left-list .discussion-left-list-item .discussion-left-list-item-discussion  .discussion-left-list-item-discussion-name {
}
#discussion-left #discussion-left-list .discussion-left-list-item .discussion-left-list-item-discussion .discussion-left-list-item-discussion-close {
    margin-right: 20px;
    background-color: #e5e5e5;
    padding: 2px 3px 1px 3px;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    cursor: pointer;
    font-size: 10px;
    margin-bottom: -2px;
}

#discussion-main-info-box {
    display: flex;
    overflow: auto;
}
#discussion-main-box {
    flex: 6;
}
#discussion-main-info {
    border-left: 1px solid #eee;
}
.discussion-main-info-toggle {
    cursor:pointer;
}
.discussion-main-info-header {
    background-color: #c0c0c024;
    padding: 20px 10px 20px 20px;
    width: 290px;
}
.discussion-main-info-header h4 {
    margin: 0;
    font-weight: bold;
}
.discussion-main-info-section {
    padding: 20px 10px 20px 20px;
    border-top: 1px solid #eee;
    max-width: 290px;
}
.discussion-main-info-section .discussion-main-info-section-title {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.discussion-main-info-section .discussion-main-info-section-title.active .fa {
    transform: rotate(90deg);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.discussion-main-info-section .discussion-main-info-section-title .fa {
    transform: rotate(0deg);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.discussion-main-info-section .discussion-main-info-section-inner {
    display: none;
}
.discussion-main-info-section .discussion-main-info-section-title.active + .discussion-main-info-section-inner {
    display: block;
}
.discussion-main-info-section .discussion-main-info-section-inner .file_discussion_show {
    margin: 5px;
    clear: both;
}
.discussion-main-info-section .discussion-main-info-section-inner .file_discussion_show .photo {
    float: left;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-size: 18px 18px;
    margin-right: 5px;
}
.discussion-main-info-section .discussion-main-info-section-inner .file_discussion_show a {
    color: #8e8b8b;
}
.discussion-main-info-section .discussion-main-info-section-inner .notification-configure {
    color: #8e8b8b;
    margin: 10px 5px 10px 0;
}
.notification-configure .notification-configure-sent {
    //margin: 10px 0 10px 0;
}
.notification-configure .notification-configure-sent p {
    margin: 10px 0 10px 0;
}
#discussion-main-info-close {
    float:right;
    padding-right: 10px;
    font-size: 22px;
}
#content.discussion-content .heading .holder {
    padding: 20px 0 20px 20px;
}
#content.discussion-content .heading {
    background-color: #0089c6;
    padding: 0;
}
#content.discussion-content .heading .show_info_channel {
    float: right;
    font-size: 22px;
    color: #FFF;
    padding-right: 20px;
}
#content.discussion-content .heading .holder h2 {
    color: #fff;
    margin: 0;
    font-size: 22px;
    float:left;
}
#content.discussion-content .heading .holder .type_discussion {
    color: #fff;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}
#discussion-main{
    flex: 6;
}
#discussion-page {
    margin-top: 25px;
    padding: 0 40px;
}
#discussion-page .container {
    width: 10%;
    float: left;
}
#discussion-page .discussion-box {
    width: 100%;
}
#discussion-page .discussion-box .discussion-box-window {
    display: block;
}
#discussion-page .discussion-box .discussion-box-form {
    margin-bottom: 15px;
}
#discussion-page .discussion-box .btns button {

    float: right;
    margin: 10px;
}
#discussion-page .discussion-box .discussion-box-form textarea {
   font-size: 20px;
   width: 100%;
   border-radius: 3px; //закругление углов (общее)
   -webkit-border-radius: 3px; //закругление углов (Google Chrome)
   -moz-border-radius: 3px; //закругление углов (FireFox)
   -khtml-border-radius: 3px; //закругление углов (Safari)
   background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
   outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
   height: 24px; // высота на свое усмотрение
   width: 120px; // ширина на свое усмотрение
   color: #cccccc; //цвет шрифта в обычном состоянии
   font-family: Tahoma; // Стиль шрифта
}
#main_form_discussion {
  width: 100%;
  border: 1px solid #0000004a;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
}
#main_form_discussion > li {
  display: block;
}
#main_form_discussion > .icon_main_form_discussion {
    padding: 15px;
    border-right: 1px solid #0000004a;
}
#main_form_discussion > .icon_main_form_discussion .fa {
    font-size: 22px;
    cursor:pointer;
}
#main_form_discussion > .textarea_main_form_discussion {
  flex-grow: 20;
}
#main_form_discussion > .textarea_main_form_discussion textarea {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 1px;
}
#main_form_discussion > .button_main_form_discussion button {
  height: 100%;
  border-radius: 0px 5px 5px 0;
}
#discussion-page .file_attach-message {
    color: #8e8b8b;
}
#discussion-page .preview-activity-replay-form .btns {
    padding: 5px 0;
    float: left;
    width: 100%;
}
#discussion-page .preview-activity-replay-form .upload_images_for_message {
    cursor:pointer;
    width: 100px;
}
#discussion-page .preview-activity-reply {
    border-top: 1px solid #eee;
    padding: 10px 10px;
}
#discussion-page .discussion-box .preview-activity {
    box-sizing: border-box;
    display: block;
    color: #444;
    border: 1px solid #eee;
    margin-bottom: 15px;
    border-radius: 5px;
}
#discussion-page .discussion-box .preview-activity-general {
    padding: 10px 10px 10px;
    border-bottom: 1px solid #eee;
}
#discussion-page .discussion-box .preview-activity time {
    font-size: 12px;
    color: #888888;
    margin-bottom: 20px;
}
#discussion-page .discussion-box .preview-activity .message_discussion {
    margin-top: 10px;
}
#discussion-page .discussion-box .preview-activity .message_discussion a {
    color: #0078ad;
}
#discussion-page .discussion-box .preview-activity .photo {
    float: left;
    margin: 0 10px 0 0;
}
#discussion-page .discussion-box .preview-activity .photo .photo_member_feed,
#discussion-page .discussion-box .preview-activity .photo .photo_member_feed_form_reply,
#discussion-page .discussion-box .preview-activity .photo .photo_member_feed_reply {
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
}
#discussion-page .discussion-box .preview-activity .photo .photo_member_feed {
    height: 35px;
    width: 35px;
    background-size: 35px 35px;
}
#discussion-page .discussion-box .preview-activity .photo .photo_member_feed_form_reply, #discussion-page .discussion-box .preview-activity .photo .photo_member_feed_reply {
    height: 25px;
    width: 25px;
    background-size: 25px 25px;
}
#discussion-page .discussion-box .preview-activity.self {
    text-align:right;
}
#discussion-page .discussion-box .preview-activity-inner {
}
#discussion-page .discussion-box .preview-activity-inner .preview-activity-inner-head {
    position: relative;
}
#discussion-page .discussion-box .preview-activity-inner .preview-activity-inner-actions {
    position: absolute;
    right: 15px;
    top: 10px;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #eee;
    display: none;
}
#discussion-page .discussion-box .preview-activity-inner .preview-activity-inner-actions li {
    padding: 10px;
    color: #7e7e7e;
    cursor: pointer;
}
#discussion-page .discussion-box .preview-activity-inner .preview-activity-inner-actions li:first-child {
    border-bottom: 1px solid #eee;
}
#discussion-page .discussion-box .preview-activity-inner .preview-activity-inner-head .fa.fa-angle-down{
    position: absolute;
    right: 15px;
    top: 0;
    cursor: pointer;
}
#discussion-page .discussion-box .preview-activity-inner .preview-activity-inner-head .fa.fa-angle-down:hover + .preview-activity-inner-actions, #discussion-page .discussion-box .preview-activity-inner .preview-activity-inner-actions:hover{
    display: block;
}
#discussion-page .discussion-box .preview-activity-replay-box {
    padding: 0 0 0 10px;
    background-color: #c0c0c024;
}
#discussion-page .discussion-box .preview-activity-replay-form {
    border-top: 1px solid #eee;
    padding-top: 10px;
}
#discussion-page .discussion-box .preview-activity-replay-form .photo {
    display: inline-block;
}
#discussion-page .discussion-box .preview-activity-replay-form textarea {
    min-height: 35px;
}
#discussion-page .discussion-box .replay-form {
    display: inline-block;
    width: 97%;
}
#discussion-page .discussion-box .preview-activity-replay-box .load_reply_more {
    text-align: center;
    padding: 5px 0;
}
#discussion-page .discussion-box .preview-activity-replay-box form {
}
#discussion-page .discussion-box .preview-activity-replay-box form textarea {
    width: 100%;
}
#discussion-page .discussion-box .preview-activity-replay-box form .btn {
    margin: 0px;
    min-height: 24px;
    width: 100px;
}
#discussion-page .discussion-box .preview-activity-inner .name {
    color: #0089c5;
}
#discussion-page .discussion-box .preview-activity-inner h3{
    margin-bottom: 2px;
}
#discussion-page .container #list_type_discussions {
 border-bottom: 1px solid #eee;
}
#discussion-page .container #list_type_discussions > div {
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    width: 45%;
    margin: 2px 2px 10px 2px;
}
#discussion-page .container #list_type_discussions .active {
    color: #0030ff;
}
#discussion-page .container .member {
    padding: 0;
    cursor: pointer;
}
#discussion-page .container .member.active {
    color: #0030ff;
}
#discussion-page .container .member .full-name {
    margin: 8px 0 0;
}
