{% extends "inner.html" %}
{% load i18n two_factor %}

{% block workspace %}
<div class='fields tfa'>

  <header class="heading">
    <h1>{% block title %}{% trans "Enable Two-Factor Authentication" %}{% endblock %}</h1>
  </header>

  <p class='ok'><b>Congratulations</b>, you've successfully enabled two-factor authentication.</p>

  <p>Please, <b>relogin</b> again with your updated credentials.</p>
  
  <p><a href="{% url 'auth_logout' %}" class="btn btn-block btn-default">{% trans "Continue" %}</a></p>

  {% comment %}
  {% if not phone_methods %}
    <p><a href="{% url 'two_factor:profile' %}"
        class="btn btn-block btn-default">{% trans "Back to Profile" %}</a></p>
  {% else %}
    <p>{% blocktrans %}However, it might happen that you don't have access to
      your primary token device.
      <br>To enable account recovery, add a phone number.{% endblocktrans %}</p>

    <p>
      {% if current_membership %}
      <a href="{% url 'profiles:edit' pk=current_membership.pk %}" class="btn btn-asize">
        {% trans "Back to Profile" %}
      </a>
      {% endif %}
    
      <a href="{% url 'two_factor:phone_create' %}"
        class="btn btn-asize btn-gray">{% trans "Add Phone Number" %}</a>
    </p>
  {% endif %}
  {% endcomment %}

{% endblock %}
