{% extends "inner.html" %}
{% load i18n static thumbnail common_tags user_tags permissions_tags %}

{% block base_resources %}
  <link rel="stylesheet" href="{% static 'css.generated/base.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/all.css' %}"/>
  <script src="{% static 'js/libs/jquery-1.12.4/jquery.min.js' %}"></script>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css.generated/committees.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/jquery.mentionsInput.css' %}"/>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/underscore-min.js' %}"></script>
  <script src="{% static 'js/kendo.web.min.js' %}"></script>
  <script src="{% static 'js/jquery.mentionsInput.js' %}"></script>
  <script src="{% static 'js/libs/momentjs/moment.js'|min_for_prod %}"></script>
  <script src="{% static 'js/discussion.js' %}"></script>
  <script src="{% static 'js/getstream.js' %}"></script>
{% endblock extra_js %}

{% block workspace %}
  <ul class="breadcrumbs breadcrumbs-separator">
    <li><a href="{% acc_url 'discussion:list' %}">{% trans 'Discussions' %}</a></li>
    <li>{{ active_news }}</li>
  </ul>

  <div class="content content-box">
    <header class="heading">
      <div class="holder">
        <h2>
          {% trans 'Discussion News' %} - {{ active_news }}
        </h2>
      </div>
    </header>
  </div>

  {% include "discussion/includes/discussion_box.html" %}

  <script type="text/javascript">
    var api_discussion_get = "{% acc_url 'discussion:get' %}";
    var member_id = null;
    var feed_name = "{{ feed_discussion }}";
    var getstream_token = "{{ user_feed_1.token }}";
    var all_members = JSON.parse('{{ all_members  |safe }}');
    var current_member_id = "{{current_membership.id}}";
    var current_member_fullname = "{{current_membership.get_full_name}}";
    var getstream_key = "{{getstream_key}}";
    var getstream_app_id = "{{getstream_app_id}}";
  </script>
{% endblock workspace %}
